body{

    --header_height: 3rem;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.headline{
    height: var(--header_height);
    border-bottom: solid black 3px;
}

.game{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 5rem);
    display: grid;
    place-items: center;
}

.ball{
    position: relative;
}

.drop{
    animation-name: drop_anim;
    animation-duration: 1.75s;
}

@keyframes drop_anim{
    0%{
        top: 0;
    }
    100%{
        top: 16rem;
    }
}